{% spaceless %}
<!doctype html>
<html data-ng-app="gitlabKBApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ title }}</title>
    <style type="text/css">
        {% include '@static/main/css/styles.css' %}
    </style>
    <style type="text/css">
        {% include '@static/jsonsh/css/styles.css' %}
    </style>
    <link type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            {% include "menu/nav.html.twig" %}
        </div>
        <div class="col-md-4" style="position: initial;">
            <h2>{{ title }}</h2>
            {% if base_url %}
                <p><strong>Base url</strong> {{ base_url }}</p><br/>
            {% endif %}
            {% if version %}
                <p>Version {{ version }}</p>
            {% endif %}
            {% for documentation in documentations %}
                <h3>{{ documentation.title }}</h3>
                <p>{{ documentation.content }}</p>
            {% endfor %}
            {% include "security/collection.html.twig" %}
            <hr/>
            {% include "resources/collection.html.twig" %}
        </div>
    </div>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
    {% include '@static/main/js/script.js' %}
    {% include '@static/jsonsh/js/jsonsh.js' %}
    {% include '@static/jsonsh/js/pretty.js' %}
    {% include '@static/jsonsh/js/placeholder.js' %}
</script>

</body>
</html>
{% endspaceless %}
