{% set methodsStyles = {
"GET": "primary",
"PATCH": "info",
"POST": "success",
"PUT": "warning",
"DELETE": "danger"
} %}

<div id="{{ resource.uri|md5 }}">
    URl: {{ resource.uri }}
    {{ resource.description }}
    <div onclick="show_description('{{ resource.uri|md5 }}')" style="position: relative; margin-top: 20px;">
        <div style="float: right;
                    position: absolute;
                    top: -20px;
                    right: -1px;">
            {% for method in resource.methods %}
                <a href="#{{ resource.uri|md5 }}_desc_{{ method.type }}">
                    <div style="border-radius: 0;" class="label label-{{ methodsStyles[method.type] }}">{{ method.type }}
                        {% if method.getSecuritySchemes()|length > 0 %}
                            <i class="glyphicon glyphicon-lock"></i>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
        <h4 class="link">
            {{ resource.getDisplayName()|generate_name }}
        </h4>
    </div>
    <hr/>
</div>

<div id="{{ resource.uri|md5 }}_desc" class="desc_resources" style="
    display: none;
    position: fixed;
    width: 50%;
    height: 100%;
    right: 0; top: 0;
    overflow: auto;
    background-color: #ccc;
    padding: 10px;">
    {% for method in resource.methods %}
        <div class="panel" id="{{ resource.uri|md5 }}_desc_{{ method.type }}">
            <div class="panel-heading">
                <div class="label label-{{ methodsStyles[method.type] }}">{{ method.type }}</div> {{ resource.uri }}
            </div>

            <div class="panel-body">
                <strong>Description</strong><br/><br/>
                {{ method.description }}

                {% if method.getSecuritySchemes()|length > 0 %}
                    <br/><br/>
                    {% for key, scheme in method.getSecuritySchemes() %}
                        <div class="alert alert-warning" onclick="show_description('{{ scheme.key|md5 }}')"  style="cursor: pointer">
                            <i class="glyphicon glyphicon-lock"></i> Secured by {{ scheme.key }}
                        </div>
                    {% endfor %}
                {% endif %}

                {#{% for mediaType, body in method.bodies %}

                {% endfor %}#}

                {% set headers = method.headers %}
                {% set queryParameters = method.queryParameters %}
                {% set uriParameters = resource.uriParameters %}
                {% set baseUriParameters = method.baseUriParameters %}
                {% include "request/collection.html.twig" %}
            </div>
            {% set responses = method.responses %}
            {% include "response/collection.html.twig" %}
        </div>
    {% endfor %}
</div>
