<div class="panel-body">

    <h4 style="margin-bottom: 25px;">Request</h4>
    {% if uriParameters %}
        <hr/>
        <h5>Uri Parameters</h5>
        <ul class="list-group">
            {% for uriParameterName, uriParameter in uriParameters %}
                <li  class="list-group-item">
                    <div><span style="font-weight: bold;">{{ uriParameterName }}</span> ({{ uriParameter.type }}
                        )<br/> {{ uriParameter.description }}</div>
                    {% if uriParameter.example %}
                        <pre><code>{{ uriParameter.example }}</code></pre>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if baseUriParameters %}
        <hr/>
        <h5>Base Uri Parameters</h5>
        <ul class="list-group">
            {% for baseUriParameterName, baseUriParameter in baseUriParameters %}
                <li  class="list-group-item">
                    <div><span style="font-weight: bold;">{{ baseUriParameterName }}</span> ({{ baseUriParameter.type }}
                        )<br/> {{ baseUriParameter.description }}</div>
                    {% if baseUriParameter.example %}
                        <pre><code>{{ baseUriParameter.example }}</code></pre>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if queryParameters %}
        <hr/>
        <h5>Query parameters</h5>
        <ul class="list-group">
            {% for queryParameterName, queryParameter in queryParameters %}
                <li  class="list-group-item">
                    <div><span style="font-weight: bold;">{{ queryParameterName }}</span> ({{ queryParameter.type }}
                        )<br/> {{ queryParameter.description }}</div>
                    {% if queryParameter.example %}
                        <pre><code>{{ queryParameter.example }}</code></pre>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if headers %}
        <hr/>
        <h5>Headers</h5>
        <ul class="list-group">
            {% for header_name, header_value in headers %}
                <li  class="list-group-item">
                    <div>
                        <span style="font-weight: bold;">{{ header_name }}</span>: {{ header_value.description }}
                    </div>
                    {% if header_value.example %}
                        <pre><code>{{ header_value.example }}</code></pre>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>


<ul class="list-group">
    {% for content_type, body in bodies %}
        <li class="list-group-item">
            <strong>Content-Type:</strong> {{ content_type }}
        </li>
        <li class="list-group-item"><h5>Body</h5></li>
        <li class="list-group-item">
            {% if body.example %}
                <h6>Example</h6>
                <div style="margin-left: -15px;
                            margin-right: -15px;">
                    {% set body_example = file_loader(base_dir_raml, body.example) %}
                    <textarea class="code">{{ body_example }}</textarea></div>
            {% endif %}
            {% if body.schema %}
                <h6>Schema</h6>
                <div style="margin-left: -15px;
                             margin-right: -15px;">
                    <textarea class="code">{{ body.schema|readable_json }}</textarea></div>
            {% endif %}
        </li>
    {% endfor %}
</ul>
