<h4 style="margin-bottom: 25px;">Request</h4>

{% if uriParameters %}
    <h5>Uri Parameters</h5>
    <ul>
        {% for uriParameterName, uriParameter in uriParameters %}
            <li>
                <div><span style="font-weight: bold;">{{ uriParameterName }}</span> ({{ uriParameter.type }})<br/> {{ uriParameter.description }}</div>
                {% if uriParameter.example %}
                    <pre><code>{{ uriParameter.example }}</code></pre>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if baseUriParameters %}
    <h5>Base Uri Parameters</h5>
    <ul>
        {% for baseUriParameterName, baseUriParameter in baseUriParameters %}
            <li>
                <div><span style="font-weight: bold;">{{ baseUriParameterName }}</span> ({{ baseUriParameter.type }})<br/> {{ baseUriParameter.description }}</div>
                {% if baseUriParameter.example %}
                    <pre><code>{{ baseUriParameter.example }}</code></pre>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if queryParameters %}
    <h5>Query parameters</h5>
    <ul>
    {% for queryParameterName, queryParameter in queryParameters %}
        <li>
        <div><span style="font-weight: bold;">{{ queryParameterName }}</span> ({{ queryParameter.type }})<br/> {{ queryParameter.description }}</div>
        {% if queryParameter.example %}
            <pre><code>{{ queryParameter.example }}</code></pre>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% if headers %}
    <hr/>
    <h5>Headers</h5>
    <ul>
        {% for header_name, header_value in headers %}
            <li>
                <div>
                    <span style="font-weight: bold;">{{ header_name }}</span>: {{ header_value.description }}
                </div>
                {% if header_value.example %}
                    <pre><code>{{ header_value.example }}</code></pre>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
